<div id="<%= dom_id estudiante %>" class="student-details">
  <h2 class="centered-title">Datos de Estudiante</h2> 
  <p>
    <strong>Nombre:</strong>
    <%= estudiante.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= estudiante.apellido %>
  </p>

  <p>
    <strong>Carrera:</strong>
    <%= estudiante.carrera %>
  </p>

  <p>
    <strong>Carnet:</strong>
    <%= estudiante.carnet %>
  </p>
</div>
